
<h1><strong>ようこそ Bookersへ！</strong></h1>

<p class = "top-item"><strong>Bookers</strong>
	では、さまざまな書籍に関するあなたの意見や
</p>
<p>印象を共有し交換することができます

<p class = "top-item-start"><%=link_to "start" , books_path %></p>